from sqlalchemy import create_engine, MetaData

engine = create_engine("GESTOR_BD://USUARIO:CONTRASEÑA@SERVIDOR/BASE_DATOS", echo=True)

#Metadata de la BD
meta = MetaData()
#Conexión a la BD
cnx = engine.connect()